.card-deck {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #303030;
    border-radius: 10px;

    &__slot {
        width: 90px;
        height: 135px;
        padding: 3px;
        border: 2px dashed #303030;
        border-radius: 5px;
        transition: background-color 0.3s ease-in;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
    &__slot--hovered {
        background-color: #cccccc;
    }
}

.card {
    width: 90px;
    height: 135px;
    padding: 10px;
    background-color: #ff9900;
    border-radius: 5px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in;
}
.card--hold {
    background-color: red;
}
.card--invisible {
    display: none;
}