.enemy-deck {
    position: absolute;
    left: 50%;
    top: 10px;
    display: flex;
    // display: none;
    padding: 10px;
    transform: translateX(-50%);
    &__slot {
        position: relative;
        width: 120px;
        height: 180px;
        padding: 3px;
        &:not(:last-child){
            margin-right: 10px;
        }
    }
}
