.localization {
    font-size: 0;
    &__label {
        display: inline-block;
    }
    &__lang {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        border: 0;
        overflow: hidden;
        
        &:checked + .localization__lang-fake {
            filter: grayscale(0);
        }
    }
    &__lang-fake {
        display: block;
        width: 50px;
        height: 30px;
        background-image: url('../image/icons/localization.jpg');
        background-position: 0;
        background-repeat: no-repeat;
        filter: grayscale(1);
        transition: filter 0.2s ease-in;
    }
    &__lang-fake--ru {
        background-position: -50px;
    }
}