.preloader {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  will-change: transform;
}

.preloader__title {
  width: 70%;
  margin: 20% auto 0;
  background-image: url("../image/title.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.preloader__title::before {
  content: '';
  display: block;
  padding-bottom: 21.428%;
}

.preloader__left, .preloader__right {
  position: absolute;
  height: 100%;
  background-image: url("../image/paper-tile.jpg");
  -webkit-transition: -webkit-transform 1.5s ease-in;
  transition: -webkit-transform 1.5s ease-in;
  transition: transform 1.5s ease-in;
  transition: transform 1.5s ease-in, -webkit-transform 1.5s ease-in;
  will-change: transform;
}

.preloader__left {
  left: 0;
  width: 60%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.preloader__left::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -50px;
  width: 200px;
  height: 200px;
  background-image: url("../image/stamp.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.preloader__left--hidden {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.preloader__right {
  right: 0;
  width: 50%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.preloader__right--hidden {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.game {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  padding-right: 200px;
  background-image: url("../image/fabric-tile.png");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
}

.game::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
  background-image: url("../image/table-decals.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  opacity: 0.5;
  pointer-events: none;
}

.game-money {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 5px;
  padding-left: 40px;
  color: #ff9900;
  font-size: 28px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game-money::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-image: url("../image/icons/diamond.png");
  background-size: cover;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.game-start {
  position: absolute;
  z-index: 99;
  padding: 15px 30px;
  top: 50%;
  left: 50%;
  color: #303030;
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  background-image: url("../image/card-background-front.jpg");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game-modal {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  display: none;
  width: 225px;
  height: 150px;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  background-image: url("../image/endgame-modal.png");
  background-size: contain;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}

.game-modal__button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("../image/icons/add-card.png");
  background-size: contain;
  border: none;
  cursor: pointer;
}

.game-modal__text {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.game-modal--active {
  opacity: 1;
}

.game-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.game-background__item {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-background__item--paper {
  left: 70px;
  bottom: 30px;
  width: 300px;
  height: 450px;
  background-image: url("../image/paper.png");
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

@media screen and (max-width: 1280px) {
  .game {
    padding: 10px;
    padding-right: 150px;
  }
  .game-money {
    left: 10px;
    padding-left: 30px;
    font-size: 20px;
  }
  .game-money::before {
    width: 20px;
    height: 20px;
  }
  .game-background__item {
    width: 200px;
    height: 300px;
  }
}

.enemy-deck {
  position: absolute;
  left: 50%;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.enemy-deck__slot {
  position: relative;
  width: 120px;
  height: 180px;
  padding: 3px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.enemy-deck__slot:not(:last-child) {
  margin-right: 10px;
}

.enemy-deck__card {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition: -webkit-transform 1.2s ease-in;
  transition: -webkit-transform 1.2s ease-in;
  transition: transform 1.2s ease-in;
  transition: transform 1.2s ease-in, -webkit-transform 1.2s ease-in;
}

.enemy-deck__card::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../image/card-background-back.png");
  background-size: contain;
  border-radius: 5px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.enemy-deck__card--active {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

@media screen and (max-width: 1280px) {
  .enemy-deck__slot {
    width: 90px;
    height: 135px;
  }
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120px;
  height: 180px;
  padding: 7px;
  color: #303030;
  background-image: url("../image/card-background-front.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  color: inherit;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.card__cost {
  position: absolute;
  top: -10px;
  left: -15px;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  background-image: url("../image/icons/diamond.png");
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  background-color: rgba(110, 66, 0, 0.2);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card__specs {
  position: relative;
  display: block;
  width: 50%;
  padding-left: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}

.card__specs::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__specs--str {
  margin-right: 5px;
}

.card__specs--str::before {
  background-image: url("../image/icons/sword.svg");
}

.card__specs--def::before {
  background-image: url("../image/icons/shield.svg");
}

.card--golden {
  color: #ffffff;
  text-shadow: 0 0 3px #996300;
  -webkit-box-shadow: 0 0 10px 3px rgba(255, 153, 0, 0.7);
          box-shadow: 0 0 10px 3px rgba(255, 153, 0, 0.7);
}

.card--golden::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 153, 0, 0.1);
  border-radius: inherit;
  pointer-events: none;
}

.card--golden .card__bottom {
  background-color: rgba(255, 153, 0, 0.3);
}

.card--golden-shadow:hover {
  -webkit-box-shadow: 0 0 12px 5px rgba(255, 153, 0, 0.7);
          box-shadow: 0 0 12px 5px rgba(255, 153, 0, 0.7);
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

.card--shadow {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
  transition: box-shadow 0.2s ease-in, transform 0.2s ease-in, -webkit-box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.card--shadow:hover {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
}

.card--invisible {
  display: none;
}

.card--hovered {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.card--enemy {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card--enemy .card__cost {
  display: none;
}

@media screen and (max-width: 1280px) {
  .card {
    width: 90px;
    height: 135px;
  }
  .card__cost {
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    padding-top: 0;
    font-size: 12px;
  }
  .card__bottom {
    padding: 5px 0;
  }
  .card__specs {
    padding-left: 20px;
    font-size: 14px;
  }
  .card__specs::before {
    width: 20px;
    height: 20px;
  }
}

.card-table {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin: 40px;
  padding: 20px;
  background-image: url("../image/table-wood-min.jpg");
  background-size: cover;
  background-position: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.card-table::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 30px;
  width: 8.64%;
  padding-bottom: 8.64%;
  background-image: url("../image/coins.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.card-table::after {
  content: '';
  position: absolute;
  bottom: 50%;
  right: 30px;
  width: 6.25%;
  padding-bottom: 6.25%;
  background-image: url("../image/dice.png");
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.card-table--active {
  margin-bottom: -40px;
}

@media screen and (max-width: 1280px) {
  .card-table {
    margin: 20px;
  }
}

.card-deck {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 20px;
  padding: 10px;
  background-image: url("../image/deck-tile.png");
  border: 1px solid #606060;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.7s ease-in;
  transition: -webkit-transform 0.7s ease-in;
  transition: transform 0.7s ease-in;
  transition: transform 0.7s ease-in, -webkit-transform 0.7s ease-in;
}

.card-deck__slot {
  position: relative;
  width: 120px;
  height: 180px;
  padding: 3px;
  border: 2px dashed rgba(204, 204, 204, 0.5);
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease-in, -webkit-transform 0.7s ease-in;
  transition: background-color 0.3s ease-in, -webkit-transform 0.7s ease-in;
  transition: background-color 0.3s ease-in, transform 0.7s ease-in;
  transition: background-color 0.3s ease-in, transform 0.7s ease-in, -webkit-transform 0.7s ease-in;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.card-deck__slot:not(:last-child) {
  margin-right: 10px;
}

.card-deck__slot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-image: url("../image/icons/add-card.png");
  background-size: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.card-deck__slot--hovered {
  background-color: rgba(204, 204, 204, 0.2);
}

.card-deck__slot--hovered::before {
  opacity: 0.3;
}

.card-deck__slot--game-active {
  border-color: transparent;
}

.card-deck__slot--game-active:first-child {
  -webkit-transform: translateY(30%) translateX(10%) rotate(-25deg);
          transform: translateY(30%) translateX(10%) rotate(-25deg);
}

.card-deck__slot--game-active:nth-child(2) {
  -webkit-transform: translateY(6%) rotate(-15deg);
          transform: translateY(6%) rotate(-15deg);
}

.card-deck__slot--game-active:nth-child(3) {
  -webkit-transform: translateY(-3%) rotate(-5deg);
          transform: translateY(-3%) rotate(-5deg);
}

.card-deck__slot--game-active:nth-child(4) {
  -webkit-transform: translateY(-3%) rotate(5deg);
          transform: translateY(-3%) rotate(5deg);
}

.card-deck__slot--game-active:nth-child(5) {
  -webkit-transform: translateY(6%) rotate(15deg);
          transform: translateY(6%) rotate(15deg);
}

.card-deck__slot--game-active:last-child {
  -webkit-transform: translateY(30%) translateX(-10%) rotate(25deg);
          transform: translateY(30%) translateX(-10%) rotate(25deg);
}

.card-deck__slot--game-active:not(:last-child) {
  margin-right: 0;
}

.card-deck__slot--no-bordered {
  border-color: transparent;
}

.card-deck__card {
  -webkit-transition: -webkit-transform 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in, -webkit-transform 0.2s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.card-deck--active {
  -webkit-transform: translateY(-70px) rotateX(-10deg);
          transform: translateY(-70px) rotateX(-10deg);
}

.card-deck--table {
  position: absolute;
  left: 50%;
  bottom: 50px;
  display: none;
  border: none;
  background-image: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-deck--table-active {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (max-width: 1280px) {
  .card-deck__slot {
    width: 90px;
    height: 135px;
  }
}

.card-shop {
  position: absolute;
  right: 0;
  max-height: calc(100vh - 40px);
  margin-right: 10px;
  padding: 10px 25px;
  background-image: url("../image/deck-tile.png");
  border: 1px solid #606060;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: -webkit-transform 0.8s ease-in;
  transition: -webkit-transform 0.8s ease-in;
  transition: transform 0.8s ease-in;
  transition: transform 0.8s ease-in, -webkit-transform 0.8s ease-in;
}

.card-shop__slot:not(:last-child) {
  margin-bottom: 10px;
}

.card-shop--hidden {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
}

@media screen and (max-width: 1280px) {
  .card-shop {
    max-height: calc(100vh - 20px);
    margin-right: 5px;
    padding: 10px;
  }
}

.defeated {
  -webkit-transition: opacity 0.5s ease-in, -webkit-filter 0.5s ease-in;
  transition: opacity 0.5s ease-in, -webkit-filter 0.5s ease-in;
  transition: opacity 0.5s ease-in, filter 0.5s ease-in;
  transition: opacity 0.5s ease-in, filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
  opacity: 0.7;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.enemy-queue {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

.friend-queue {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: -webkit-transform 0.5s ease-in, -webkit-box-shadow 0.2s ease-in;
  transition: transform 0.5s ease-in, box-shadow 0.2s ease-in;
  transition: transform 0.5s ease-in, box-shadow 0.2s ease-in, -webkit-transform 0.5s ease-in, -webkit-box-shadow 0.2s ease-in;
}

.friend-queue:hover {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.end-game {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  opacity: 0;
}

.end-game__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.end-game__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 240px;
  padding: 20px;
  color: #303030;
  background-image: url("../image/endgame-modal.png");
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.end-game__modal::before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  pointer-events: none;
}

.end-game__modal--victory::before {
  background-image: url("../image/victory.png");
}

.end-game__modal--defeat::before {
  background-image: url("../image/defeat.png");
}

.end-game__modal--draw::before {
  background-image: url("../image/draw.png");
}

.end-game__modal-title {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.end-game__modal-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.end-game__modal-button {
  position: relative;
  z-index: 1000;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-family: inherit;
  background-image: url("../image/card-background-front.jpg");
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.end-game--active {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */